<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kayıtlı Koordinatlar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_view_coordinates.css') }}" />
</head>
<body>
    <div class="coordinates-container">
        <h1>Kayıtlı Koordinatlar</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>X Koordinatı</th>
                    <th>Y Koordinatı</th>
                    <th>Z Koordinatı</th>
                    <th>M Koordinatı</th>
                    <th>Zaman</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
